@media only screen and (max-width: 1199px) {
    /*********************  Header  *******************/
    /*********************  Header Close  *******************/
    /*********************  Content  *******************/
    /*********************  Content Close  *******************/
    /*********************  Footer  *******************/
    /*********************  Footer Close  *******************/
}

@media only screen and (max-width: 991px) {
    /**********  Responsive Menu Bootstrap **********/
    .navbar-expand-lg > .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    /**  menu  **/
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }
    .navbar-toggler {
        border-color: #fff;
    }
    .navbar-toggler:hover {
        background-color: #000;
    }
    #navbarNav {
        background-color: #002c8f;
        box-shadow: 0 0px 10px rgba(255, 255, 255, 0.8);
        padding: 60px 0 15px;
        position: fixed;
        top: 0;
        right: 0;
        display: block !important;
        width: 100% !important;
        text-align: center;
        bottom: 0;
        -webkit-transition: all 0.5s ease 0s;
        -moz-transition: all 0.5s ease 0s;
        -ms-transition: all 0.5s ease 0s;
        -o-transition: all 0.5s ease 0s;
        transition: all 0.5s ease 0s;
        ;
        -webkit-transform: translateX(110%);
        -moz-transform: translateX(110%);
        -ms-transform: translateX(110%);
        -o-transform: translateX(110%);
        transform: translateX(110%);
        height: auto !important;
        overflow: auto;
    }
    .show-menu #navbarNav {
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        transform: translateX(0%);
    }
    .show-menu .navbar-toggler {
        position: fixed;
        z-index: 5;
        right: 20px;
        border-radius: 50%;
        padding: 2px;
    }
    .show-menu .navbar-toggler-icon {
        background-image: url("../images/close.svg");
        background-size: 14px auto;
    }
    .navbar-nav .nav-item {
        margin-left: 0;
    }
    .navbar-nav .nav-link {
        font-size: 24px;
        padding: 15px 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        color: #fff;
        line-height: 1.2;
    }
    .navbar-nav .nav-link:hover {
        color: #000;
        background-color: #fff
    }
    .navbar-nav .active .nav-link {
        color: #000;
        background-color: #fff
    }
    .navbar-nav .nav-item .dropdown-item {
        text-align: center;
        padding: 10px 10px;
    }
    .navbar-nav .dropdown-menu {
        margin: 0;
        padding: 0;
        border-radius: 0;
    }
    /**  Menu  **/
    /**********  Responsive Menu  **********/
    /*********************  Header  *******************/
    /*********************  Header Close  *******************/
    /*********************  Content  *******************/
    /*********************  Content Close  *******************/
    /*********************  Footer  *******************/
    /*********************  Footer Close  *******************/
}

@media only screen and (max-width: 767px) {
    /*********************  Header  *******************/
    /*********************  Header Close  *******************/
    /*********************  Content  *******************/
    /*********************  Content Close  *******************/
    /*********************  Footer  *******************/
    /*********************  Footer Close  *******************/
}

@media only screen and (max-width: 575px) {
    /*********************  Header  *******************/
    /*********************  Header Close  *******************/
    /*********************  Content  *******************/
    /*********************  Content Close  *******************/
    /*********************  Footer  *******************/
    /*********************  Footer Close  *******************/
}